<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>商家后台登录</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">  <!-- 引入CSS文件 -->
    <script>
        // 弹窗提示功能
        function showAlert(message) {
            alert(message);
        }
    </script>
</head>
<body>
    <div class="container">  <!-- 添加container -->
        <h2>商家后台登录</h2>
        <form id="login-form" method="post" action="{% url 'backend_login' %}">
            {% csrf_token %}
            <label for="password">密码:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">登录</button>
        </form>
    </div>
    
    {% if error_message %}
        <script>
            showAlert("{{ error_message|escapejs }}");  // 显示弹窗
        </script>
    {% endif %}
</body>
</html>
