<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">  <!-- 引入CSS文件 -->
</head>
<body>
    <div class="container">
        <h2>注册</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <label for="username">用户名:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">密码:</label>
            <input type="password" id="password" name="password" required>
            <label for="address">寄件地址:</label>
            <input type="text" id="address" name="address" required>
            <label for="phone">电话:</label>
            <input type="text" id="phone" name="phone" required>
            <button type="submit">注册</button>
        </form>
        <p>已有账号？<a href="{% url 'login' %}">登录</a></p>
    </div>
</body>
</html>
