<!-- backend_manage/templates/backend_manage/list_orders.html -->
{% extends 'backend_manage/base.html' %}

{% block title %}订单管理{% endblock %}

{% block content %}    
    <h2>查询订单</h2>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">搜索</button>
    </form>
    
    <h3>订单列表</h3>
    <table>
        <tr>
            <th>订单ID</th>
            <th>创建时间</th>
            <th>订单状态</th>
            <th>物流追踪号</th>
            <th>承运人</th>
            <th>操作</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.0 }}</td>
            <td>{{ order.1 }}</td>
            <td>{{ order.2 }}</td>
            <td>{{ order.3 }}</td>
            <td>{{ order.4 }}</td>
            <td class="action-buttons">
                <a href="{% url 'track_order' order.0 %}">查看物流</a>
                {% if order.2 == 'pending' %}  <!-- 只在订单状态为 'pending' 时显示 -->
                    <a href="{% url 'assign_logistics' %}?order_id={{ order.0 }}">分配物流</a>
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </table>
{% endblock %}
